<html>
<head>
  <title>Task App</title>
  <script src="assets/jquery-3.4.0.min.js"></script>
  <script src="assets/todo-list.js"></script>
  <link rel="stylesheet" href="assets/styles.css">
</head>
<body>
  <h1>My Todo list</h1>

  <form>
    <input type="text" name="item" placeholder="Add new task..." required>
    <button type="submit">Add</button>
  </form>
  <ul>
    <% for (let i = 0; i < todos.length; i++) {%>
      <li><%= todos[i].item %></li>
    <% } %>
  </ul>
</body>
</html>